<%-include('../Includes/header.ejs') -%>
<link rel="stylesheet" href="/CSS/success.css">
</head>
<body>
    <%-include('../Includes/navbar.ejs') -%>

<main>

    <div class="success-page">
        <img  src="http://share.ashiknesin.com/green-checkmark.png" class="center" alt="" />
       <h2>Great ! Your Registration is Successfully Done..</h2>
       <p>Please check your registered Email id to Verify Your Account..</p>
       <!-- <a href="#" class="btn-view-orders">View Orders</a>
       <a href="#">Continue Shopping</a> -->
     </div>
     </div>

</main>

<%-include('../Includes/footer.ejs') -%>